@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* main styling */

h1, h2, h3 {
    padding-bottom: 20px;
}

a {
    color: #8b50fb;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

/* utiliy */


.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: #8b50fb;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #8b50fb;
    background: white;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #8b50fb;
    color: white;
    transition: all 0.3s ease-in-out;
}

.current {
    color: #410334;
}

.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.flex-items > div {
    padding: 20px;
}

/* header */


header{
    background-color: rgb(248, 214, 242);
    box-shadow: 1px 1px 1px grey;
    padding-bottom: 10px;
    padding-top: 20px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li:hover{
    color: #410334;
    transition: 0.3s ease-in-out;

}

header nav h1{
    font-size: 36px;
    color: #8b50fb;
    margin-top: 10px;
}

/* home info */

#home-info {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/fundo-roxo2.jpg');
}

.homepage-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.homepage-content h3 {
    margin-top: 70px;
    margin-bottom: 100px;
    text-justify:auto;
    text-align: center;
    color: white;
} 

.homepage-content h1 {
    color: white;
}

/* conteúdos */

#content {
    padding: 30px;
    height: 400px;
}

#content h2 {
    text-align: center;
    color: #410334;
}

#content .content-item {
    padding: 30px;
}

#content h3 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

#content h3:hover {
    color: #410334;
    transition: 0.3s ease-in-out;
}

#content i {
    color: white;
    background-color: #8b50fb;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* videos */


#videos {
    padding-top: 50px;
}

.logo img{
    height: 50px;
    width: 100px;
    margin-left: 10vw;
}



ul{
    list-style-type: none;
    display: flex;
    margin-right: 10vw;
    margin-top: 5px;
}

li{
    font-size: 20px;
    margin-left: 20px;
    color: #8b50fb;
    display: inline-block;
}

li:hover{
    cursor:pointer;
}

.first-li{
    margin-left: 0;
}

video{
    border-radius: 5px;
    margin-right: 40px;
}

iframe{
    border-radius: 5px;
    margin-right: 40px;
}

.video{
    width: 80vw;
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    border-bottom: 1px solid #410334;
}

h2{
    font-size: 30px;
    margin-bottom: 10px;
}

/*-------------------------- footer ----------------------*/

footer{
    box-shadow: -1px -1px 1px grey;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgb(248, 214, 242);

}
.left{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.left .email{
    color:#8b50fb;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 12px;
}

.right{
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.right h3{
    color: #8b50fb;
}